MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=root
MYSQL_DATABASE=moments

PULSAR_URL=pulsar://127.0.0.1:6650
PULSAR_ADMIN_URL=http://127.0.0.1:8080

TOPIC_MOMENTS_RAW=persistent://public/default/moments.raw
TOPIC_MOMENTS_SCORED=persistent://public/default/moments.scored
TOPIC_MOMENTS_DLQ=persistent://public/default/moments.dlq

PULSAR_SUBSCRIPTION=moment-scorer-subscription
PULSAR_CONSUMER_NAME=moment-scorer-v1
